In [2]:
# Imports
import pickle

In [3]:
with open("../final_project/final_project_dataset.pkl", "rb") as f:
    enron_data = pickle.load(f)

from pprint import pprint
pprint(enron_data)

             'from_messages': 'NaN',
                    'from_poi_to_this_person': 'NaN',
                    'from_this_person_to_poi': 'NaN',
                    'loan_advances': 'NaN',
                    'long_term_incentive': 'NaN',
                    'other': 147950,
                    'poi': True,
                    'restricted_stock': 3576206,
                    'restricted_stock_deferred': 'NaN',
                    'salary': 158403,
                    'shared_receipt_with_poi': 'NaN',
                    'to_messages': 'NaN',
                    'total_payments': 360300,
                    'total_stock_value': 11884758},
 'YEAP SOON': {'bonus': 'NaN',
               'deferral_payments': 'NaN',
               'deferred_income': 'NaN',
               'director_fees': 'NaN',
               'email_address': 'NaN',
               'exercised_stock_options': 192758,
               'expenses': 55097,
               'from_messages': 'NaN',
               'from_poi_to_this_person': 'NaN',
               'from_this_person_to_poi': 'NaN',
               'loan_advances': 'NaN',
               'long_term_incentive': 'NaN',
               'other': 'NaN',
               'poi': False,
               'restricted_stock': 'NaN',
               'restricted_stock_deferred': 'NaN',
               'salary': 'NaN',
               'shared_receipt_with_poi': 'NaN',
               'to_messages': 'NaN',
               'total_payments': 55097,
               'total_stock_value': 192758}}

In [4]:
# We can get the number of attributes associated with each person by counting keys
len(enron_data['YEAP SOON'].keys())

21

In [5]:
count = 0
for person in enron_data.keys():
    if enron_data[person]["poi"] == 1:
        count += 1

print("Number of 'Persons of Interest': {0}".format(count))

Number of 'Persons of Interest': 18

In [6]:
poi_names = list()

# Get the POI names from the .txt file as a string
with open("../final_project/poi_names.txt", "rb") as f:
    for line_number, line in enumerate(f):
       if line_number > 1:
        line_element_list = line.split(' ')
        poi_names.append(
            (
                (line_element_list[0]),
                (line_element_list[1] + line_element_list[2])
            )
        )

poi_names

[('(y)', 'Lay,Kenneth\r\n'),
 ('(y)', 'Skilling,Jeffrey\r\n'),
 ('(n)', 'Howard,Kevin\r\n'),
 ('(n)', 'Krautz,Michael\r\n'),
 ('(n)', 'Yeager,Scott\r\n'),
 ('(n)', 'Hirko,Joseph\r\n'),
 ('(n)', 'Shelby,Rex\r\n'),
 ('(n)', 'Bermingham,David\r\n'),
 ('(n)', 'Darby,Giles\r\n'),
 ('(n)', 'Mulgrew,Gary\r\n'),
 ('(n)', 'Bayley,Daniel\r\n'),
 ('(n)', 'Brown,James\r\n'),
 ('(n)', 'Furst,Robert\r\n'),
 ('(n)', 'Fuhs,William\r\n'),
 ('(n)', 'Causey,Richard\r\n'),
 ('(n)', 'Calger,Christopher\r\n'),
 ('(n)', 'DeSpain,Timothy\r\n'),
 ('(n)', 'Hannon,Kevin\r\n'),
 ('(n)', 'Koenig,Mark\r\n'),
 ('(y)', 'Forney,John\r\n'),
 ('(n)', 'Rice,Kenneth\r\n'),
 ('(n)', 'Rieker,Paula\r\n'),
 ('(n)', 'Fastow,Lea\r\n'),
 ('(n)', 'Fastow,Andrew\r\n'),
 ('(y)', 'Delainey,David\r\n'),
 ('(n)', 'Glisan,Ben\r\n'),
 ('(n)', 'Richter,Jeffrey\r\n'),
 ('(n)', 'Lawyer,Larry\r\n'),
 ('(n)', 'Belden,Timothy\r\n'),
 ('(n)', 'Kopper,Michael\r\n'),
 ('(n)', 'Duncan,David\r\n'),
 ('(n)', 'Bowen,Raymond\r\n'),
 ('(n)', 'Colwell,Wesley\r\n'),
 ('(n)', 'Boyle,Dan\r\n'),
 ('(n)', 'Loehr,Christopher\r\n')]

In [7]:
len(poi_names)

35

In [8]:
# Get the stock value of James Prentice
enron_data["PRENTICE JAMES"]["total_stock_value"]

1095040

In [9]:
# Get the number of emails from Wesley Colwell
enron_data['COLWELL WESLEY']['from_this_person_to_poi']

11

In [10]:
# Get value of stock options exercised by Jeffrey K Skilling
enron_data['SKILLING JEFFREY K']['exercised_stock_options']

19250000

In [11]:
# Find who got the most money, in terms of payments, out of Lay, Skilling and Fastow
print(
    "Skilling's total payments: ${0}".format(enron_data['SKILLING JEFFREY K']['total_payments']),
    "Fastow's total payments: ${0}".format(enron_data['FASTOW ANDREW S']['total_payments']),
    "Lay's total payments: ${0}".format(enron_data['LAY KENNETH L']['total_payments'])
)

("Skilling's total payments: $8682716", "Fastow's total payments: $2424083", "Lay's total payments: $103559793")

In [12]:
salary_count = 0
email_count = 0

# Find out how many people have recorded salaries in the dataset
for person in enron_data.keys():
    if enron_data[person]['salary'] != 'NaN':
        salary_count += 1
    if enron_data[person]['email_address'] != 'NaN':
        email_count += 1

print("No. of valid salaries: {0}".format(salary_count))
print("No. of valid email addresses: {0}".format(email_count))

No. of valid salaries: 95
No. of valid email addresses: 111

In [13]:
# Find out how many POI have 'NaN' recorded as their total payments
nan_total_payments_count = 0

for person in enron_data.keys():
    if enron_data[person]['total_payments'] == 'NaN' and enron_data[person]['poi'] == 1:
        nan_total_payments_count += 1

float(nan_total_payments_count)

0.0

In [23]:
# Find minimum and maximum values of a field
field_name = 'salary'
field_value_list = []

for person in enron_data.keys():
    if enron_data[person][field_name] != 'NaN':
        field_value_list.append(enron_data[person][field_name])

print max(field_value_list)
print min(field_value_list)

26704229
477